<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title></title>
</head>
<body>
<div id="admin-nav-menu" th:fragment="admin-nav-menu">
<nav class="navbar navbar-fixed-left navbar-minimal animate open" role="navigation">
	<ul class="navbar-menu animate">
		<li>
			<a href="#dashboard" class="animate">
				<span class="desc animate">Dashboard</span>
				<span class="glyphicon glyphicon-align-justify"></span>
			</a>
		</li>
		<li>
			<a href="#about-us" class="animate">
				<span class="desc animate">Users</span>
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</li>
		<li>
			<a href="#blog" class="animate">
				<span class="desc animate"> What We Say </span>
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</li>
		<li>
			<a href="#contact-us" class="animate">
				<span class="desc animate"> How To Reach Us </span>
				<span class="glyphicon glyphicon-comment"></span>
			</a>
		</li>
		<li>
			<a href="#contact-us" class="animate">
				<span class="desc animate"> How To Reach Us </span>
				<span class="glyphicon glyphicon-stats"></span>
			</a>
		</li>
		<li>
			<a href="#contact-us" class="animate">
				<span class="desc animate"> How To Reach Us </span>
				<span class="glyphicon glyphicon-send"></span>
			</a>
		</li>
		<li>
			<a href="#contact-us" class="animate">
				<span class="desc animate"> How To Reach Us </span>
				<span class="glyphicon glyphicon-comment"></span>
			</a>
		</li>
		<li>
			<a href="#contact-us" class="animate">
				<span class="desc animate"> How To Reach Us </span>
				<span class="glyphicon glyphicon-comment"></span>
			</a>
		</li>
		<li>
			<a href="#contact-us" class="animate">
				<span class="desc animate"> How To Reach Us </span>
				<span class="glyphicon glyphicon-comment"></span>
			</a>
		</li>
		<li>
			<a href="#contact-us" class="animate">
				<span class="desc animate"> How To Reach Us </span>
				<span class="glyphicon glyphicon-comment"></span>
			</a>
		</li>
		<li>
			<a href="#contact-us" class="animate">
				<span class="desc animate"> How To Reach Us </span>
				<span class="glyphicon glyphicon-comment"></span>
			</a>
		</li>
		<li>
			<a href="#contact-us" class="animate">
				<span class="desc animate"> How To Reach Us </span>
				<span class="glyphicon glyphicon-comment"></span>
			</a>
		</li>
		
		
	</ul>
</nav>  
</div>
</body>
</html>
